@page "/notifications/create"
@inject Server.Data.ApplicationDbContext DB
@using Server.Data
@inject NavigationManager NavigationManager
@inject NotificationHandler NotifHandler

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Notification</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Notification" OnValidSubmit="AddNotification" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="text" class="form-label">Text:</label> 
                <InputText id="text" @bind-Value="Notification.Text" class="form-control" /> 
                <ValidationMessage For="() => Notification.Text" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="priority" class="form-label">Priority:</label> 
                <InputSelect id="priority" @bind-Value="Notification.Priority" class="form-control" >
                    @foreach (var prior in Enum.GetValues(typeof(NotifPriority)))
                    {
                        <option value="@prior">@prior</option>
                    } 
                </InputSelect>
                <ValidationMessage For="() => Notification.Priority" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="repetition" class="form-label">Repetition:</label> 
                <InputSelect id="repetition" @bind-Value="Notification.Repetition" class="form-control" >
                    @foreach (var period in Enum.GetValues(typeof(NotifPeriod)))
                    {
                        <option value="@period">@period</option>
                    } 
                </InputSelect> 
                <ValidationMessage For="() => Notification.Repetition" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="datetime" class="form-label">DateTime:</label> 
                <InputDate Type="InputDateType.DateTimeLocal" id="datetime" @bind-Value="Notification.DateTime" class="form-control" /> 
                <ValidationMessage For="() => Notification.DateTime" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/notifications">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Notification Notification { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddNotification()
    {
        DB.Notifications.Add(Notification);
        NotifHandler.NotifyOn(Notification); 
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/notifications");
    }
}
