@page "/recipes/create"
@inject Server.Data.ApplicationDbContext DB
@using Server.Data
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Recipe" OnValidSubmit="AddRecipe" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Recipe.Name" class="form-control" /> 
                <ValidationMessage For="() => Recipe.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Recipe.Description" class="form-control" /> 
                <ValidationMessage For="() => Recipe.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="duration" class="form-label">Duration:</label> 
                <InputNumber id="duration" @bind-Value="Recipe.Duration" class="form-control" /> 
                <ValidationMessage For="() => Recipe.Duration" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/recipes">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Recipe Recipe { get; set; } = new();

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddRecipe()
    {
        DB.Recipes.Add(Recipe);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/recipes");
    }
}
